################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ExamCSharpStudy/bin/Debug/net5.0
/ExamCSharpStudy/.vs/ExamCSharpStudy/v16
/ExamCSharpStudy/obj/Debug/net5.0
/ExamCSharpStudy/obj/Release/net5.0
/ExamCouchbase/.vs/ExamCouchbase/v16
/ExamCouchbase/obj
