################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/ExamCSharpStudy/bin
/ExamCSharpStudy/.vs
/ExamCSharpStudy/obj

/ExamCouchbase/.vs
/ExamCouchbase/obj
/ExamCouchbase/bin

/ExamConsoleTest/.vs
/ExamConsoleTest/obj
/ExamConsoleTest/bin

*.idea
